<html ng-app="tictac">
  <head>
    <title>Jogo da Velha</title>
    
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="style.css"></link>
	
	
	
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 

 </head>
  <body>
 <div class="container" ng-controller="game">
<h2>Jogo dos Dados</h2>
<button class="btn btn-success col-xs-4" ng-click="jogarDado()">Jogar Dados</button>
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Quantidade de dados" ng-model="valor">
      <span class="input-group-btn" >
        <button class="btn btn-secondary" type="button" ng-click="iniciarJogo()">Enviar</button>
      </span>
    </div>
  </div>
</div>




<div class="alert alert-danger " role="alert" ng-show="mensagem">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Você tem que escolher</strong> no minimo 1 dado para jogar.
</div>	
  <div class="main" id="main" >
	  <div class="col-xs-5 casa glyphicon " ng-class="peca"  ng-show="dado.escolhido"
	   ng-repeat="dado in tabuleiro track by $index" >
	 	<a class="thumbnail">
	 	<img ng-src="{{dado.escolhido  ? dado.nome : dado.fundo}}"/>
		
	  	</a>
	  </div>
	    </div>
  
</div>


  </body>
  <script src="js/angular.min.js"></script>
  <script src="js/tictac.js"></script>
  <script> </script>
</html>